/*
* multi-line comment
*/
p{ line-height: 1em; font-size: 20px; color:#333;}
h1{
	color: #A04000;
	font-weight: normal;
	line-height: 1.1em;
	padding:10px;
    margin: 20px;
}


a{
	color: black;
	text-decoration: none;
}
a:hover,
a:active{ text-decoration: underline;font-size: 20px;
}

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

/*body{
    font-family: arial; font-size: 80%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
    }*/
    /* you can put your code all in one line like above */
    

    /* or on different lines like below */

    /* but try and be as concise as possible */
    #nav{
    	width: 60%;
    	display: inline-block;
    	text-align: right;
    	float: right;
    }
    #nav ul{}
    #nav ul li{
    	display: inline-block;
    	height: 62px;
    }
    #nav ul li a{
    	padding: 20px;
    	background: orange;
    	color: black;

    }
    #nav ul li a:hover{
    	background-color: #ffb424;
    	box-shadow: 0px 1px 1px #666;
    }
    #nav ul li a:active{ background-color: #ff8f00; }

   
    
    .landing-title{
    	font-size: 40px;
    	color: black;

    }

    body{
    	background-size: 100%;
    	background-image:url('../image/kk.jpeg');
    	
    }


    #home{
    	height: 50%;
    	text-align: center;
    	align-items: center;
    	justify-content: center;
    	flex-direction: column;

    }
    .footer {
    	position: absolute;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	padding: 1rem;
    	background-color:black;
  

    }



    .large{
    	font-size: 2.5em;
    	height: 40px;
    }
    /*sports*/
    #result-sports ul li {
    	/*border-image-width: 500px;*/
    	font-size: 20px;
    }
    #result-sports ul li div{
    	text-align: center;
    }

    #result-sports ul li img{
    	margin: 15px auto;
    }
    .social-icons a,.footer p a{
    	color:#337ab7;
    }